{
  "extends": "standard",
  "plugins": [
    "html", "react"
  ],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "space-before-function-paren": "off",
    "no-debugger": "off"
  }
}