@import './reset';
$mainColor: #0291e7;
:global{
  .name {
    color: red;
  }
  ::placeholder {
    color: grey;
  }
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin: 20px auto;
  width: 800px;
}