{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "transform-runtime",
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}